.canvas {
    width: 45vw;
    height: 45vw;
}
  
.cell:hover {
    background-color: rgb(157, 220, 223) !important;
}

.slider {
  font-size: 23px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type="range"] {
  position: relative;
  width: 40%;
}